services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.1.0
    container_name: keycloak
    ports:
      - "8080:8080"
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    volumes:
      - ${HOME}\docker-volumes\keycloak-data:/opt/keycloak/data
    command: start-dev

  mariadb:
    image: mariadb:11.6.2
    container_name: mariadb
    ports:
      - "3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: POlEDLb6nSlx9M7vk6
    volumes:
      - ${HOME}\docker-volumes\mariadb-data:/var/lib/mysql

  file-server:
    build:
      context: ..
      dockerfile: file-server/Dockerfile
    image: file-server:latest
    container_name: file-server
    ports:
      - "8085:8085"
    volumes:
      - ${HOME}\docker-volumes\file-server:/data
    restart: unless-stopped
    environment:
        - APP_ROOT_FOLDER=/data
        - DEFAULT_FILE_DEPTH=2
        - MAX_MAINTENANCE_CONCURRENT_THREADS=4